<div class="card">
  <h1>Lugares que eu quero ir:</h1>
  <div class="form">
    
    <input [value]="responseData._id">


    <label>place</label>
    <input autofocus (change)="updateLugar(luga.value)" #luga [value]="responseData.lugar">

    <label>Descrição</label>
    <textarea  (change)="updateDescr(desc.value)" #desc value={{responseData.descricao}}></textarea>

    <label>Staus</label>
    <input (change)="updateStatus(stats.value)" #stats [value]="responseData.status">

    <label>Pontos Turisticos</label>
    <textarea rows="8" (change)="updatePontos(pts.value)" #pts [value]="pontos"></textarea>

    <button type="submit" (click)="setlugar()" mat-button> Enviar </button>
  </div>
</div>
